:root {
    --violet: #733FC8;
    --dark-grayish-blue: #48556A;
    --dark-blackish-blue: #19202D;
    --light-grayish-blue: #ECF2F8;
    --white: #FFF;
    --font-family: 'Barlow Semi Condensed', sans-serif;
    --font-size-1: 1.25rem;
    --font-size-2: 0.8125rem;
    --font-size-3: 0.6875rem;
    --line-height-1: 1.125rem;
    --line-height-2: 0.8125rem;
    --line-height-3: 0.6875rem;
    --font-weight: 500;
    --spacing-25: 0.25rem;
    --spacing-100: 1rem;
    --spacing-106: 1.06rem;
    --spacing-112: 1.12rem;
    --spacing-150: 1.5rem;
    --spacing-160: 1.6rem;
    --spacing-188: 1.88rem;
    --spacing-200: 2rem;
    --spacing-440: 4.4rem;
    --spacing-500: 5rem;
    --spacing-1025: 10.25rem;
    --mobile: 375px;
    --desktop: 1440px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-2);
    font-weight: 500;
    color: var(--dark-grayish-blue);
    background-color: var(--light-grayish-blue);
}