@import './basic.css';

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: var(--mobile);
    margin: 0 auto;
}

.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials_item {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-160) var(--spacing-200);
    width: 327px;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.testimonials_item.violet {
    color: var(--white);
    background-color: var(--violet);
}

.testimonials_item.gray {
    color: var(--white);
    background-color: var(--dark-grayish-blue);
}

.testimonials_item.white {
    background-color: var(--white);
}

.testimonials_item.black {
    color: var(--white);
    background-color: var(--dark-blackish-blue);
}

.testimonials_item.violet .testimonials_img,
.testimonials_item.black .testimonials_img {
    border: 2px solid #A775F1;
}

.testimonials_head {
    display: flex;
    align-items: center;
    gap: var(--spacing-106);
    margin-bottom: var(--spacing-112);
}

.testimonials_img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.testimonials_subhead {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-25);
}

.testimonials_name {
    line-height: var(--line-height-2);
}

.testimonials_verified {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    opacity: 0.5;
}

.testimonials_title {
    font-size: var(--font-size-1);
    font-weight: 600;
    margin-bottom: var(--spacing-100);
}

.testimonials_body {
    line-height: var(--line-height-1);
    opacity: 0.7;
}

@media screen and (min-width: 1440px) {
    .container {
        width: var(--desktop);
    }

    .testimonials_title {
        margin-bottom: var(--spacing-150);
    }
}